body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-brand {
  color: #606080;
  font-weight: 700 !important;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 12px 20px;
}

.member-btn {
  background: transparent;
  border: transparent;
  color: green;
  cursor: pointer;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.header-text {
  color: white;
  font-size: 19px;
  font-weight: 200;
  margin-top: 22px;
  margin-right: 50px;
}
.header-text:hover {
  color: yellow;
}

.tag-card {
  margin: 10px 0 0 20px;
  color: #806a78;
}
